[Desktop Entry]
Name=Bitwarden
Exec=firefox -profile "~/Documents/phone/firefox-profiles/personalpine" --kiosk -new-window https://vault.bitwarden.com
Icon=/home/manjaro/Documents/phone/icons/bitwarden.png
Terminal=false
Type=Application
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true
