[Desktop Entry]
Name=Desktop
Exec=firefox -profile "/home/manjaro/Documents/phone/firefox-profiles/desktop" https://www.facebook.com/messages/
Icon=/home/manjaro/Documents/phone/icons/messenger.png
Terminal=false
Type=Application
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true
