[Desktop Entry]
Name=Family
Exec=firefox -profile "~/Documents/phone/firefox-profiles/fam" https://m.facebook.com/messages/
Icon=/home/manjaro/Documents/phone/icons/messenger2.png
Terminal=false
Type=Application
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true
