[Desktop Entry]
Name=Finch
Exec=xfce4-terminal -e finch --hide-borders --hide-menubar 
Icon=/home/manjaro/Documents/phone/icons/pidgin.png
Terminal=false
Type=Application
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true
