[Desktop Entry]
Name=Personal
Exec=firefox -profile "/home/jonathan/Documents/phone/firefox-profiles/fb-personal" -new-window https://m.facebook.com/messages/
Icon=/home/jonathan/Documents/phone/icons/messenger.png
Terminal=false
Type=Application
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true
