[Desktop Entry]
Name=Personal
Exec=firefox -profile "/home/jonathan/Documents/laptop/myscripts/firefox-profiles/personalpine" -new-window https://m.facebook.com/messages/
Icon=/home/jonathan/Documents/laptop/myscripts/icons/messenger.png
Terminal=false
Type=Application
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true
