[Desktop Entry]
Name=Reddit
Exec=firefox -profile "/home/manjaro/Documents/phone/firefox-profiles/reddit"  --new-window https://www.reddit.com/
Icon=/home/manjaro/Documents/phone/icons/reddit.png
Terminal=false
Type=Application
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true
