[Desktop Entry]
Name=Telegram
Exec=firefox -profile "/home/manjaro/Documents/phone/firefox-profiles/fb-personal" web.telegram.org #web.telegram.org 
Icon=/home/manjaro/Documents/phone/icons/telegram.png
Terminal=false
Type=Application
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true
