[Desktop Entry]
Name=Terminal
Exec=xfce4-terminal -e 'bash -l' --window --command="sh /home/manjaro/Documents/phone/bash-scripts/gnome-change-background.sh"
Icon=/home/manjaro/Documents/phone/icons/terminal.png
Terminal=false
Type=Application
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true
