[Desktop Entry]
Name=Terminal
Exec=xfce4-terminal -e 'ash -l'
Icon=/home/jonathan/Documents/phone/icons/terminal.png
Terminal=false
Type=Application
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true
