[Desktop Entry]
Name=Work
Exec=firefox -profile "/home/manjaro/Documents/phone/firefox-profiles/workpine" https://m.facebook.com/messages/
Icon=/home/manjaro/Documents/phone/icons/messenger2.png
Terminal=false
Type=Application
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true
